@import "defs";
/* Forms */
.form-contact,
.form-starter {
    max-width: 720px;
    margin: 0 auto 80px;
    &.with-emphasis {
        form {
            @include border-radius(5px);
            border: 5px solid $muslin;
            padding: 8%;
            /* This attempts to "intelligently" find the first elements at the top and remove any margins they have so parent padding and child margins don't add up too much and cause excessive space */
            >div {
                &:nth-child(1) {
                    margin-top: 0;
                    >* {
                        &:nth-of-type(1) {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
    form {
        width: 100%;
        position: relative;
        .hidden {
            display: none;
        }
        >.field-group {
            clear: both;
            margin: 30px 0;
            >.title {
                @include ui-small-caps();
                color: $zinc;
                margin: 8% 0 4%;
            }
            >.label {
                @include ui-small-caps();
                clear: both;
                display: block;
                margin: 0 0 10px 25px;
            }
            >.input {
                @include input();
                width: 100%;
                -webkit-appearance: none;
            }
            .note {
                text-align: left;
                width: 90%;
                margin: 8px 0 0 20px;
                &.error {
                    color: $cinnabar;
                }
            }
        }
        .sample {
            display: none;
            margin: 4% 0 0;
            .title {
                @include ui-small-caps();
                text-align: center;
            }
            .paper {
                @include border-radius(2px);
                @include box-shadow(0, -3px, 5px, 0, rgba(0,0,0,0.06));
                background: $muslin;
                background: -moz-linear-gradient(top, rgba(246,244,240,1) 60%, rgba(255,255,255,1) 100%);
                background: -webkit-linear-gradient(top, rgba(246,244,240,1) 60%,rgba(255,255,255,1) 100%);
                background: linear-gradient(to bottom, rgba(246,244,240,1) 60%,rgba(255,255,255,1) 100%);
                padding: 4%;
                margin: 2% 0 0;
                >p {
                    @include running-text();
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
        .select {
            @include benton-sans-medium();
            @include border-radius(33px);
            background-color: #fff;
            position: relative;
            margin: 5px 0 15px;
            font-size: 16px;
            line-height: 24px;
            padding: 6px 17px 6px 17px;
            border: 2px solid $sand;
            outline: 0;
            color: $tarnish;
            width: 100%;
            select {
                @include benton-sans-medium();
                font-size: 16px;
                color: $tarnish;
                border: 0;
                margin: 0;
                width: 100%;
                outline: 0;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: none;
            }
            &:after {
                pointer-events: none;
                position: absolute;
                top: 0;
                right: 10px;
                bottom: 0;
                margin: auto 0;
                content:"";
                display: block;
                width: 20px;
                height: 20px;
                background: url("/assets/images/shared/dropdown_arrow@2x.png") center right no-repeat;
                @include background-size(20px);
            }
        }
        .selection-group {
            margin: 10px 0;
            padding: 2px 0 0 40px;
            position: relative;
            .label {
                .jp & {
                    font-size: 16px;
                }
                &:hover {
                    color: $jade;
                }
            }
            /* Radio buttons */
            input[type="radio"]:checked + .label {
                color: $jade;
            }
            input[type="radio"] {
                display:none;
            }
            input[type="radio"] + .label {
                cursor: pointer;
                &:before {
                    @include border-radius(50%);
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0px;
                    content: "";
                    width: 24px;
                    height: 24px;
                    border: 2px solid $jade;
                    .jp & {
                        top: 5px;
                    }
                }
            }
            input[type="radio"]:checked + .label {
                &:before {
                    background: $jade;
                }
                &:after {
                    @include border-radius(50%);
                    display: block;
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    content: "";
                    width: 20px;
                    height: 20px;
                    border: 2px solid #fff;
                    .jp & {
                        top: 7px;
                    }
                }
            }
            /* Checkboxes */
            input[type="checkbox"]:checked + .label {
                color: $jade;
            }
            input[type="checkbox"] {
                display:none;
            }
            input[type="checkbox"] + .label {
                cursor: pointer;
                &:before {
                    @include border-radius(50%);
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: "";
                    width: 24px;
                    height: 24px;
                    border: 2px solid $jade;
                    .jp & {
                        top: 5px;
                    }
                }
            }
            input[type="checkbox"]:checked + .label {
                &:before {
                    background: $jade;
                    background-image: url("/assets/images/shared/checkmark_ffffff@2x.png");
                    background-position: center center;
                    background-repeat: no-repeat;
                    @include background-size(14px);
                }
                &:after {
                    @include border-radius(50%);
                    display: block;
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    content: "";
                    width: 20px;
                    height: 20px;
                    .jp & {
                        top: 7px;
                    }
                }
            }
        }
        >.button-group {
            margin: 30px 0 15px;
            >.note {
                @include note-text();
                text-align: center;
                &.error {
                    @include border-radius(30px);
                    margin: 10px 0;
                    color: $cinnabar;
                    background: #fff;
                    padding: 10px;
                }
            }
            .button {
                @include button();
                @include transition(all, 150ms);
                width: 100%;
                border: 0;
                background: $jade;
                color: #fff;
                cursor: pointer;
                &:hover {
                    @include box-shadow(0,0,0,10px,rgba(0,0,0,0.08),inset);
                }
                &:active {
                    @include box-shadow(0,0,0,10px,rgba(0,0,0,0.15),inset);
                }
            }
        }
        .note {
            @include note-text();
            text-align: center;
            a {
                color: $stone;
            }
            &.success {
                color: $jade;
            }
        }
    }
    @media screen and (max-width: 720px) {
        width: auto;
        margin: 0 4% 10%;
        form {
            .note {
                padding: 0 10%;
            }
        }
    }
}