
<html>
    <head>
        <title>Classic You Designs</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <meta name="viewport" content="user-scalable=no, initial-scale = 1.0">
        
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
        <link href="//cloud.webtype.com/css/7bedf75c-1c86-4c91-9386-413ed7bd9702.css" rel="stylesheet" type="text/css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
        </script>

    </head>

    <body> 
        <div class="header">
            <div class="site-architecture">
                <u>Classic You Designs</u>
            </div>
            <div class="mobile-site-architecture">
            </div>
            <nav class="navbar navbar-toggleable-md sticky-top navbar-light bg-faded">
                <a class="navbar-brand" href="/"><u>CY Designs</u></a>
                <div class="collapse navbar-collapse" id="navbarNavBar">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="/">Home</a>
                        <a class="nav-item nav-link" href="/about">About</a>
                        <a class="nav-item nav-link" href="/blog">Blog</a>
                        <a class="nav-item nav-link" href="/book">Book Now</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="contact"

        {% block content %}
        {% endblock %}

    </body>

</html>