
<html>
    <head>
        <title>Classic You Designs</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        
    </head>

    <body> 
        <nav class="navbar navbar-toggleable-md sticky-top navbar-light bg-faded">
            <a class="navbar-brand" href="/"><u>CY Designs</u></a>
            <div class="collapse navbar-collapse" id="navbarNavBar">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">Home</a>
                    <a class="nav-item nav-link" href="/about">About</a>
                    <a class="nav-item nav-link" href="/blog">Blog</a>
                    <a class="nav-item nav-link" href="/book">Book Now</a>
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

    </body>

</html>