{%extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="//cloud.webtype.com/css/7bedf75c-1c86-4c91-9386-413ed7bd9702.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
    </script>
                <div class="the-method">
                        <div class="content">
                            <div class="lockup">
                                <div class="heading">
                                    <h2 class="title">Book a Consultation</h2>
                                    <div class="description">
                                        <div id="datepicker"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

    <!-- Date: <div id="datepicker"></div> -->
    
{% endblock %}