{%extends 'base.html' %}
{% block content %}
            
        <div class="content">
        
            <div class="home-hero">
                <div class="heading">
                    <h1 class="title">Classic You Designs</h1>
                    <p class="description">Organize your potential </p>
                </div>
            </div>
            
            <div class="engagement">
                <div class="social-media-properties">
                    <div class="heading">
                        <h2 class="title">Follow&nbsp;us</h2>
                    </div>
                    <div class="third-party-presence">
                        <a href="#" target="_blank" class="facebook">
                            <span class="graphic at2x"><img src="/static/icons/glyph_facebook.png" alt="Facebook"></span>
                        </a>
                        <a href="#" target="_blank" class="instagram">
                            <span class="graphic at2x"><img src="/static/icons/glyph_instagram.png" alt="Instagram"></span>
                        </a>
                        <a href="#" target="_blank" class="twitter">
                            <span class="graphic at2x"><img src="/static/icons/glyph_twitter.png" alt="Twitter"></span>
                        </a>
                        <a href="#" target="_blank" class="linkedin">
                            <span class="graphic at2x"><img src="/static/icons/glyph_linkedin.png" alt="Linkedin"></span>
                        </a>
                    </div>
                </div>
            </div>
        
            <div class="the-author split">
                <div class="second">
                    <div class="lockup">
                        <div class="heading">
                            <h2 class="title">Meet Allie Sue</h2>
                            <p class="description">home-about-blurb: Write a blurb about yourself. Title it home-about-blurb.</p>
                        </div>
                        <div class="button-group">
                            <a href="/about/allie-harris/">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="first"></div>
            </div>
        
            <div class="the-method">
                <div class="content">
                    <div class="lockup">
                        <div class="heading">
                            <h2 class="title">What We Do?</h2>
                            <p class="description">Organization, decoration, lifestyle consulting. Anything and everything you could possibly ask for. </p>
                        </div>
                        <div class="button-group">
                            <a href="/about/the-method/">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="current-news">
                <div class="heading">
                    <h2 class="title">Recent updates</h2>
                </div>
                <div class="tile-group">
                    <div class="tile">
                        <div class="hero">
                            <img src="#" alt="Website">
                        </div>
                        <div class="content">
                            <div class="graphic at2x">
                                <img src="#" alt="">
                            </div>
                            <div class="lockup">
                                <div class="heading">
                                    <h3 class="title">We have a new website</h3>
                                    <p class="description">Classic You Designs has launched it's new website. We couldn't be happier with it, so share it with a friend.</p>
                                </div>
                                <div class="button-group">
                                    <a href="#" class="button" target="_blank">Share</a>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="tile">
                        <div class="hero">
                            <img src="#" alt="Booking">
                        </div>
                        <div class="content">
                            <div class="graphic at2x">
                                <img src="#" alt="Booking">
                            </div>
                            <div class="lockup">
                                <div class="heading">
                                    <h3 class="title">Online Booking</i></h3>
                                    <p class="subtitle">Coming Soon</p>
                                    <p class="description"> You will soon be able to book appointments and consultations online. For now please book appointments by phone ###.###.####</p></div>
                                <div class="button-group">
                                    <a href="/book/" class="button" target="_blank">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
        
        </div>
        
            <div class="footer">
                <div class="first">
                    <div class="navigation">
                        <a href="/" class="selected">Home</a>
                        <a href="/about/" class="">About</a>
                        <a href="/book/" class="">Book Now</a>
                        <a href="/ideas/" class="">Ideas</a>
                        <a href="/blog/" class="">Blog</a>
                        <a href="/contact/" class="">Contact</a>
                    </div>
                </div>
                <div class="second">
                    <div class="legal">
                        <div class="copyright">Copyright © 2017 Classic You Designs LLC ??. All rights reserved.</div>
                        <div class="terms">
                            <a href="#" target="_blank">Terms of Service</a>
                            <a href="#" target="_blank">Privacy Policy</a>
                            <a href="#" target="_blank">Site Credits</a>
                        </div>
                    </div>
                    <!-- <div class="third-party-presence">
                        <ul>
                            <li class="facebook"><a href="#" target="_blank">Facebook</a></li>
                            <li class="instagram"><a href="#" target="_blank">Instagram</a></li>
                            <li class="twitter"><a href="#" target="_blank">Twitter</a></li>
                            <li class="linkedin"><a href="#" target="_blank">LinkedIn</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>

{% endblock %}